venv/
.venv/
.vscode
.python-version
uv.lock

**/__pycache__
__pycache__
*.pyc

.DS_Store
.idea/


output/
outputs/


sim_storage/*
!sim_storage/invest_seed
!sim_storage/sign_seed
!sim_storage/change_sim_folder.py
!sim_storage/pd_game_seed
!sim_storage/profiles.json
!sim_storage/export_profiles.py


analysis/*


figure
gossip_data

utils.py
metrics.md
plot/
analysis_return/
